body {
    margin: 100px 300px 100px 300px;
        font-family: "Lato", sans-serif;
        background-color: mistyrose;
        text-align: justify;
             
           h1 {
            color: palevioletred;
                            }
            p {
        margin-bottom: 50px;
        font-size: 20px
    }     
    h2 {
        color:maroon
    }
.row {
  display: flex;
  gap: 20px;
}

.column {
  flex: 50%;
}

.column img {
  width: 100%;
  height: auto;
}
